<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Travel Generator</title>

</head>

<body>
    <style>

        table, th, td {border: 1px solid black;
        text-align: center;
    }    

        body {font-family: Arial, Helvetica, sans-serif;
            background-color: coral;}

    </style>

    <header>
        ---
    </header>
    <section>
        <br>
        <br>

       

        <div> This summer, due to the pandemic, you cannot go to <span style="background-color:red;">{{country}}</span>, but it will save you <span style="background-color:#75bf58;">{{money}}</span> £ this year :) </div>

      

       <br>
       <br>

       {% if result%}

       <h2>Lastest Savings</h2>

       <table>
           <tr>
               <th>Country</th>
               <th>Savings(£)</th>
           </tr>
           {% for res in result%}
           <tr>
               <td>---</td>
               <td>{{ res.money }}</td>
           </tr>
           
           {% endfor %}
           
       </table>
       {% endif %}
    </section>
    <footer>
        &copy; 2020 
    </footer>
</body>
</html>
