app_four/__pycache__
db/database.db
venv/
docker-compose.yaml2
db/
service1/testing/__pycache__
service2/testing/__pycache__
service3/testing/__pycache__
service4/testing/__pycache__
service1/__pycache__
service2/__pycache__
service3/__pycache__
service4/__pycache__
service1/.pytest_cache
service2/.pytest_cache
service3/.pytest_cache
service4/.pytest_cache

service1/.coverage
service2/.coverage
service3/.coverage
service4/.coverage